::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  border-radius: 1vh;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  background-color: #363636;
}
@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
/* background */
.dictionary-app {
  background: url(./component/img/Background.png);
  background-size: cover;
}
/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
  height: fit-content;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header p {
  color: rgb(238, 119, 0);
  font-family: "Rocher";
  margin: 1rem;
  font-size: 35px;
}

.header p span {
  font-size: 25px;
}
.au-button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 5vh;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
  width: 6vw;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .au-button {
    padding: 0;
    align-items: center;
    font-size: 15px;
  }
}
.au-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.5s;
}
.au-button a {
  text-decoration: none;
  color: white;
  text-align: center;
  width: fit-content;
}

.dictionary-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

/* Search Box styles */

.search-box {
  display: flex;
  justify-content: space-between;
  position: relative; /* For absolute positioning of suggestions dropdown */
  width: 80%;
  margin: 0;
  padding: 0;
  height: fit-content;
}
.header .logo {
  text-decoration: none;
}
@media screen and (min-width: 752px) {
  .half-right-section {
    margin-top: 55px;
  }
  .cross-section {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1600px) {
  .search-box {
    width: 70%;
  }
}

.search-box input {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 50px;
  width: 93%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 1px 2px 3px;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .search-box input {
    width: 90%;
  }
  .half-right-section {
    width: 50vw;
  }
}
.search-box button {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 0;
}

@media screen and (min-width: 1601px) {
  .search-box button {
    margin-left: 0;
  }
}
/* Autocomplete styles */

.autocomplete-wrapper {
  position: relative;
  width: 100%;
}

.autocomplete-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 1000;
  border-radius: 0 0 4px 4px;
  max-height: 15vh;
  overflow-y: auto;
  margin-top: 0;
  margin-left: 50px;
  width: 89%;
}
@media screen and (max-width: 1600px) {
  .autocomplete-dropdown {
    width: 86%;
  }
  @media screen and (max-width: 1200px) {
    .autocomplete-dropdown {
      width: 80%;
    }
  }
  @media screen and (max-width: 900px) {
    .autocomplete-dropdown {
      width: 72%;
    }
  }
  @media screen and (max-width: 751px) {
    .autocomplete-dropdown {
      width: 63%;
    }
  }
  @media screen and (max-width: 600px) {
    .autocomplete-dropdown {
      width: 70%;
      padding-left: 5px;
      margin-left: 47px;
    }
  }
}
.autocomplete-dropdown.active {
  display: block;
}
.react-tabs__tab--selected {
  border-radius: 0px !important;
}
.react-tabs__tab {
  border: none !important;
  bottom: 0 !important;
}
.MainTabs {
  background-color: #38bdff;
  padding: 0;
  margin-left: 150px;
  margin-right: 10px;
  border: #fff 7px solid;
  z-index: 1000;
  width: fit-content;
  bottom: 0 !important;
}
@media screen and (max-width: 1600px) {
  .MainTabs {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .MainTabs {
    margin-left: 0;
  }
}
.autocomplete-dropdown li {
  padding: 10px;
  list-style: none;
  cursor: pointer;
  text-align: left;
}

.autocomplete-dropdown li:hover,
.autocomplete-dropdown li.active {
  background-color: #f0f0f0;
}

.autocomplete-input:focus {
  outline: none;
  border-color: #4caf50;
}
/* Footer styles */

.footer {
  color: black;
  text-align: center;
  width: 100%;
  background-color: grey;
  position: static; /* Keep it in the normal document flow */
  margin-top: auto; /* Push down to the bottom */
}

.search-results {
  text-align: center;
  margin-top: 20px;
}

/* Add these styles for clickable history words */
.haft-left-section {
  display: flex;
  width: 100%;
}
.search-history-section {
  height: 50vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.search-history-section ul {
  opacity: 0.8;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  border: #363636 1px solid;
  border-radius: 10px;
  height: 100%;
  overflow: auto;
  width: 25vw;
  margin-left: 2vw;
}

.search-results-box span {
  font-weight: bold;
}
.search-results-box .syn {
  color: #4caf50;
}
.search-results-box .ant {
  color: red;
}

.search-history-section li {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5px;
  border-bottom: #363636 1px solid;
  padding-left: 10px;
  font-weight: bold;
}

.search-history-section li:hover {
  color: #007bff; /* Change color on hover if needed */
}

/* Cross section styles */

.cross-section {
  display: flex;
  align-items: normal;
  width: 100%;
}

.todays-sentence {
  border: 2px solid black;
  background-color: aliceblue;
  opacity: 0.8;
  border-radius: 10px;
  width: 50vw;
  height: 70%;
  margin-left: 50px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 20px;
  height: fit-content;
}
/* Search results styles */

.search-results-container {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  flex-grow: 1;
  width: 52.5vw;
  display: flex;
  background-color: white;
  justify-content: center;
  margin-left: 50px;
  margin-right: 40px;
  padding: 20px;
  opacity: 0.8;
  border: 2px solid black;
  border-radius: 10px;
}

.search-results-box {
  background-color: white;
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.result-header {
  display: flex;
  align-items: center;
}

.audio-button {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
}

/* Synonyms and Antonyms styles */

.synonyms-antonyms-container {
  margin-top: 10px;
  text-align: center;
}

.result-synonyms {
  color: #4caf50;
}

.result-antonyms {
  color: red;
}

/* Result components styles */

.result-word {
  font-size: 20px;
  font-weight: bold;
}

.result-definition {
  margin-top: 10px;
}

.definitions-list,
.examples-list {
  list-style: none;
  padding: 0;
}

.examples-section {
  margin-top: 10px;
}

.examples-list li:before {
  content: "- ";
}

/* Options styles */

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.options button {
  padding: 10px 40px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .au-button {
    font-size: 12px;
    height: 4vh;
  }

  .cross-section {
    align-items: normal;
    margin-bottom: 20px;
  }
  .todays-sentence {
    height: fit-content;
  }
  .haft-left-section {
    height: fit-content;
  }
  .search-history-section ul {
    height: 70vh;
  }
  .todays-sentence {
    width: 48vw;
  }
  .header p {
    font-size: 25px;
  }
  .header p span {
    font-size: 20px;
  }
  .search-box input {
    width: 85%;
  }
}
@media screen and (max-width: 751px) {
  .cross-section {
    flex-direction: column;
    padding-left: 20px;
    width: fit-content;
  }
  .search-history-section {
    height: fit-content;
    width: fit-content;
    margin: 0;
  }
  .search-history-section ul {
    width: 90vw;
    height: 20vh;
    margin: 0;
  }
  .half-right-section {
    width: 90vw;
  }
  .history-section {
    width: fit-content;
  }
  .todays-sentence {
    width: 48vw;
  }
  .search-box input {
    width: 85%;
  }
  .search-box button {
    font-size: 15px;
    width: 15vw;
  }
  .search-results-container {
    width: 90vw;
    margin: 0;
    font-size: 15px;
  }
  .todays-sentence {
    width: 87vw;
    margin: 0;
    padding: 10px;
  }
  .search-box input {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .au-button {
    font-size: 10px;
    width: 10vw;
  }
  .header p {
    font-size: 15px;
  }
  .header p span {
    font-size: 15px;
  }
  .todays-sentence {
    width: 85vw;
  }
  .search-box input {
    width: 80%;
  }
  .search-box button {
    padding: 0;
    margin-left: 50px;
    width: 100px;
  }
}
