
.header {
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.sign-up-button {
  padding: 10px 20px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}


.dictionary-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

/* Search Box styles */

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative; /* For absolute positioning of suggestions dropdown */
  width: 300px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.search-box button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Autocomplete styles */

.autocomplete-wrapper {
  position: relative;
  width: 300px;
}

.autocomplete-dropdown {
  display: none; 
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none; 
  z-index: 1000; 
  border-radius: 0 0 4px 4px;
  max-height: 200px; 
  overflow-y: auto;
}

.autocomplete-dropdown.active {
  display: block;
}

.autocomplete-dropdown li {
  padding: 10px;
  list-style: none;
  cursor: pointer;
  text-align: left;
}

.autocomplete-dropdown li:hover,
.autocomplete-dropdown li.active {
  background-color: #f0f0f0;
}


.autocomplete-input:focus {
  outline: none;
  border-color: #4CAF50;
}
/* Footer styles */

.footer {
  color: black;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: grey;
  position: static; /* Keep it in the normal document flow */
  margin-top: auto; /* Push down to the bottom */
}

.search-results {
  text-align: center;
  margin-top: 20px;
}

/* Today's sentence section styles */

.todays-sentence-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 20px 0;
}

.todays-sentence {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-right: 20px;
}

.go-to-ielts-book {
  padding: 20px;
  font-size: 16px;
  width: 100%;
}

/* Search results styles */

.search-results-container {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-results-box {
  background-color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.result-header {
  display: flex;
  align-items: center;
}

.audio-button {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
}

/* Synonyms and Antonyms styles */

.synonyms-antonyms-container {
  margin-top: 10px;
  text-align: center;
}

.result-synonyms {
  color: #4CAF50;
}

.result-antonyms {
  color: red;
}

/* Result components styles */

.result-word {
  font-size: 20px;
  font-weight: bold;
}

.result-definition {
  margin-top: 10px;
}

.definitions-list,
.examples-list {
  list-style: none;
  padding: 0;
}

.examples-section {
  margin-top: 10px;
}

.examples-list li:before {
  content: "- ";
}

/* Options styles */

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.options button {
  padding: 10px 40px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
